[run]
# This is where you can specify source directories, omit paths, etc.

[report]
# Exclude files or directories from the report
omit =
    *venv*
    *test*

[html]
directory = coverage_html_report

[xml]
output = coverage.xml
